Source: opa-fm
Maintainer: Brian T. Smith <bsmith@systemfabricworks.com>
Section: net
Priority: extra
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Build-Depends: debhelper (>= 9),
               dh-systemd,
               libexpat-dev,
               libibumad-dev (>= 1.3.10.2),
               libibverbs-dev (>= 1.1.2),
               libssl-dev (>= 1.0.1),
               zlib1g-dev,

Package: opa-fm
Architecture: amd64
Depends: libhfi1,
         pciutils,
         systemd,
         ${misc:Depends},
         ${shlibs:Depends},
Conflicts: opensm,
Description: Intel Omni-Path Fabric Management Software
 The opa-fm contains Intel Omni-Path fabric management applications.
 This includes: the Subnet Manager, Baseboard Manager, Performance Manager,
 Fabric Executive, and some fabric management tools.

Package: opa-fm-dbg
Architecture: amd64
Section: debug
Depends: opa-fm (=${binary:Version}),
         ${misc:Depends},
Description: Debug information for package opa-fm
 This package provides debug information for package opa-fm.
 Debug information is useful when developing applications that use this
 package or when debugging this package.
