#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with=systemd

override_dh_auto_clean:

override_dh_auto_configure:

override_dh_auto_build:
	cd Esm && ./fmbuild

override_dh_auto_test:

override_dh_auto_install:
	BUILDDIR= DESTDIR=$(DESTDIR) RPM_INS=n ./Esm/fm_install.sh
	mv $(DESTDIR)/usr/lib/systemd/system/opafm.service $(CURDIR)/debian/opa-fm.opafm.service
	chmod a-x $(DESTDIR)/usr/share/opa-fm/opafm_src.xml
	dh_auto_install

override_dh_systemd_enable:
	dh_systemd_enable --no-enable -popa-fm --name opafm opafm.service

override_dh_systemd_start:
	dh_systemd_start --no-start -popa-fm opafm.service

override_dh_installdocs:
	dh_installdocs --link-doc=opa-fm

